server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update

app:
  jwt:
    secret: ${JWT_SECRET}
    expirationMinutes: ${JWT_EXP_MINUTES:480}

root:
  email: ${ROOT_EMAIL}
  password: ${ROOT_PASSWORD}
  name: ${ROOT_NAME}